.body {
    display: flex;
    .left, .right {
        width: 50%;
        padding-left: 5%;
    }
}
.tb-content-del {
    cursor: pointer;
}
.tb-content-del:hover {
    .cell {
        background-color: rgb(71, 211, 233);
    }
}